html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  background-color: #1e1e1e;
  height: 100%;
}

#root {
  height: 100%;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}


@media screen and (max-width: 950px) {

  .dashboard-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media screen and (max-width: 550px) {
  .dashboard {
    padding-top: 115px;
  }
}